// app global css in SCSS form
@import url('https://fonts.googleapis.com/css?family=Lato|Quicksand&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.8rem;
}

.q-field--error .q-icon {
  color: $negative
}

.q-card,
.q-markup-table,
.q-table__container {
  border-top: solid 5px;
  border-color: $primary;
}

.q-btn__content {
  font-size: 12px;
}

.q-btn__content .q-icon {
  font-size: 1rem;
}

.text-title {
  color: $primary;
}

.text-caption {
  color: $grey-8;
}

aside.q-drawer,
.q-drawer__content,
aside.q-drawer .q-drawer__content .q-list {
  background-color: $primary;
  color: $accent;
}

aside .text-caption {
  color: #ffe4bf;
}

.q-router-link--exact-active {
  background-color: $secondary;
}

.q-item.q-router-link--active, .q-item--active
{
  color: $accent;
}